ENV=local

SERVER_HOST=0.0.0.0
SERVER_AUTH_PORT=8081

PG_HOST=postgres
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DBNAME=messenger

AUTH_PUBLIC_PEM_BASE64=REPLACE_ME
AUTH_PRIVATE_PEM_BASE64=REPLACE_ME
