PG_HOST=pg-prod
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=your_secure_pg_password
PG_DBNAME=messenger

# Сгенерировать новую пару ключей: openssl genrsa -out private.pem 2048 && openssl rsa -in private.pem -pubout -out public.pem
# Затем закодировать: base64 < private.pem | tr -d '\n'
AUTH_PUBLIC_PEM_BASE64=
AUTH_PRIVATE_PEM_BASE64=
